* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ff9a9e;
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50vh;
  width: 50vw;
  border-radius: 50%;
  background: linear-gradient(30deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-weight: 900;
}
button {
  margin-top: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
}
