* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(30deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.container {
  height: 600px;
  border: 2px solid black;
  background-color: #ff9a9e;
  border-radius: 25px;
  box-shadow: black;
}
.question {
  background-color: pink;
  box-shadow: black 2px 2px 5px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
option {
  margin: 5px;
  padding: 5px;
  border-color: black;
}
.text {
  border-radius: 25px;
  background-color: rgb(215, 41, 111);
}
h1 {
  font-weight: 900;
  color: white;
  padding: 15px;
}
button {
  margin-top: 5px;
  padding: 5px;
  color: white;
}
p {
  color: white;
  padding: 15px;
  padding-top: 0px;
}
button {
  margin-top: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
}
